{% extends 'base.html.twig' %}

{% block body %}
    <h1>accès refusé</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="">return to the homepage</a>.
    </p>
{% endblock %}