{% extends 'base.html.twig' %}

{% block title %}Choix d'un groupe de parie{% endblock %}

{% block body %}
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">Accueil</li>
                            <li class="breadcrumb-item" aria-current="page">Parie</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
