{% extends 'base.html.twig' %}

{% block title %}Classement des joueurs{% endblock %}

{% block body %}
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">Accueil</li>
                            <li class="breadcrumb-item" aria-current="page">Classement</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h2 class="text-center">Classement Global des Joueurs</h2>
                            <div class="table-responsive">
                                <table class="table caption-top p-5">
                                    <thead>
                                    <tr>
                                        <th><i class="fa-solid fa-ranking-star"></i></th>
                                        <th>Joueur</th>
                                        <th>Points</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr class="table-danger">
                                        <td class="col-4"></td>
                                        <td class="col-4"></td>
                                        <td class="col-4"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h2 class="text-center">Classement dans votre groupe :</h2>
                            <div class="table-responsive">
                                <table class="table caption-top p-5">
                                    <thead>
                                    <tr>
                                        <th><i class="fa-solid fa-ranking-star"></i></th>
                                        <th>Joueur</th>
                                        <th>Points</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr class="table-danger">
                                        <td class="col-4"></td>
                                        <td class="col-4"></td>
                                        <td class="col-4"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
